@model IEnumerable<VolleyRain.Models.DaySummary>

@{
    ViewBag.Title = "Index";
}

<div class="responsive-calendar center-block">
  <div class="controls">
      <a class="pull-left" data-go="prev"><div class="btn"><i class="icon-chevron-left">Prev</i></div></a>
      <h4><span data-head-month=""></span> <span data-head-year=""></span></h4>
      <a class="pull-right" data-go="next"><div class="btn"><i class="icon-chevron-right">Next</i></div></a>
  </div><hr/>
  <div class="day-headers">
    <div class="day header">Mon</div>
    <div class="day header">Tue</div>
    <div class="day header">Wed</div>
    <div class="day header">Thu</div>
    <div class="day header">Fri</div>
    <div class="day header">Sat</div>
    <div class="day header">Sun</div>
  </div>
  <div class="days" data-group="days">
    <!-- the place where days will be generated -->
  </div>
</div>

<script>
    $( document ).ready( function() {
        $('.responsive-calendar').responsiveCalendar({
            monthChangeAnimation: false,
            events: {
                @foreach (var item in Model) 
                {
                    @Html.Raw(string.Format("\"{0:yyyy-MM-dd}\": {{ \"number\": {1}, \"url\": \"{2}\" }},", item.Date, item.NumberOfEvents, Url.Action("Index", "Calendar", new { Month = "12", Day = "3" })))
                }
            }
        });
    });
</script>

<script src="~/Scripts/responsive-calendar.min.js"></script>