@model VolleyRain.Models.Month

@{
    ViewBag.Title = "Index";
}

<div class="responsive-calendar center-block">
  <div class="controls">
      <a class="pull-left" data-go="prev"><div class="btn"><i class="icon-chevron-left">Prev</i></div></a>
      <h4><span data-head-month=""></span> <span data-head-year=""></span></h4>
      <a class="pull-right" data-go="next"><div class="btn"><i class="icon-chevron-right">Next</i></div></a>
  </div><hr/>
  <div class="day-headers">
    <div class="day header">Mo</div>
    <div class="day header">Di</div>
    <div class="day header">Mi</div>
    <div class="day header">Do</div>
    <div class="day header">Fr</div>
    <div class="day header">Sa</div>
    <div class="day header">So</div>
  </div>
  <div class="days" data-group="days">
    <!-- the place where days will be generated -->
  </div>
</div>

<script>
    $( document ).ready( function() {
        $('.responsive-calendar').responsiveCalendar({
            monthChangeAnimation: false,
            time: @Html.Raw(string.Format("\"{0:yyyy-MM}\"", Model.Date)),
            events: {
                @foreach (var item in Model.Days) 
                {
                    @Html.Raw(string.Format("\"{0:yyyy-MM-dd}\": {{ \"number\": {1} }},", item.Date, item.NumberOfEvents))
                }
            },
            onDayClick: function(events) {
                window.location.href = "/Calendar/" + $(this).data("year") + "/" + $(this).data("month") + "/" + $(this).data("day");
            }
        });
    });
</script>

<script src="~/Scripts/responsive-calendar.min.js"></script>