
@{
    ViewBag.Title = "Trainingszeiten";
}

<h2>Trainingszeiten</h2>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Wochentag</th>
            <th>Uhrzeit</th>
            <th>Halle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Montag</td>
            <td>20:00 - 22:00</td>
            <td>Turnhalle Feldmatt</td>
        </tr>
    </tbody>
</table>

<h3>Standortübersicht</h3>

<img class="center-block" src="~/Content/images/location.png" width="100%" />