@model IEnumerable<Season>

@{
    ViewBag.Title = "Spielplan & Rangliste";
}

@*@foreach (var season in Model.OrderByDescending(s => s.Start))
{
    if (season.Teams.Any())
    { 
        <h2>Ranglisten <small>@Html.DisplayFor(modelItem => season.Name)</small></h2>
    
        foreach (var team in season.Teams)
        { 
            <h3>Team @Html.DisplayFor(modelItem => team.Name)</h3>
            
            @Html.DisplayFor(modelItem => team.Rankings, "RankingCollection")
        }
    }
}*@

<h2>Spielplan &amp; Rangliste</h2>

Der Spielplan und die Rangliste sind <a style="color:#428bca;" href="https://www.inv-volleyball.ch">hier</a> zu finden.
<br />
<br />
<br />