@{
    var token = ViewBag.Token as PasswordResetToken;
    var link = Url.Abs(Url.Action("ResetPassword", "Account", new { token = token.Token }));
}

<h1>Anweisungen zum Zurücksetzen deines Passworts</h1>

<p>Um dein Passwort zurückzusetzen benutze bitte folgenden Link: <a href="@link">@link</a></p>
<p>Der Link ist 24 Stunden lang gültig.</p>
<p>Falls du diese E-Mail nicht angefordert hast, kannst du es ignorieren.</p>
