/* Bootstrap customization */

.container-fluid {
    max-width: 1200px;
    min-width: 290px;
}

.form-horizontal {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    border-radius: 0;
}

.jumbotron {
    padding: 30px;
}

/* Bootstrap customization */

/* Responsive Calendar customization */

.responsive-calendar {
    max-width: 750px;
}

/* Responsive Calendar customization */

.logo { 
    width: 258px;
    margin-top: 10px; 
    margin-bottom: 10px; 
}

@media (min-width: 768px) {

    .logo {
        width: 500px;
    }
    
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}