/* Bootstrap customization */

.container-fluid {
    max-width: 1200px;
    min-width: 290px;
}

.form-horizontal {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    border-radius: 0;
}

@media (min-width: 768px) {

    .navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }
    
}

.jumbotron {
    padding: 30px;
    margin-bottom: 20px;
}

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
    vertical-align: middle;
}

.pager .disabled > a, 
.pager .disabled > a:hover, 
.pager .disabled > a:focus, 
.pager .disabled > span {
    color: inherit;
    cursor: not-allowed;
    background-color: inherit;
}

/* Bootstrap customization */

/* Responsive Calendar customization */

.responsive-calendar {
    max-width: 750px;
}

/* Responsive Calendar customization */

body {
    font-family: 'ubunturegular';
}

.logo { 
    width: 258px;
    margin-top: 10px; 
    margin-bottom: 10px; 
}

@media (min-width: 768px) {

    .logo {
        width: 500px;
    }
    
}

table .form-control {
    height: 28px;
    padding: 4px;
}

.with-comment {
    font-style: italic;
}

.footer {
    clear: both;
    margin-bottom: 20px;
    background-color: black;
    padding: 15px 30px;
    color: white;
    font-size: 11px;
    text-align: center;
}

.table-calendar {
    table-layout: fixed;
}

.table-calendar > thead > tr > th {
    text-align: center;
}

.table-calendar .head > td {
    font-weight: 700;
}

.table-calendar .body > td {
    height: 80px;
    border: none;
    vertical-align: top;
}

.table-calendar .label {
    display: block;
    padding: 0.7em 0.3em;
    margin: 0.3em -0.3em;
    overflow: hidden;
}

.table-calendar a:hover,
.table-calendar a:active, 
.table-calendar a:focus {
    text-decoration: none;
}

.fadeout {
    color: #ddd;
}

.footer a {
    color: #999;
}

.footer a:hover,
.footer a:active, 
.footer a:focus {
    text-decoration: none;
    color: #fff;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}