@model VolleyRain.Models.AttendanceMatrix

@{
    ViewBag.Title = "Index";
}

<table class="table table-condensed">
    <thead>
        <tr>
            <th>User</th>

            @foreach (var item in Model.Events) { 
            
                <th>@Html.DisplayFor(modelItem => item.Name)</th>
                
            }

        </tr>
    </thead>

    @foreach (var user in Model.Users) { 
    
        Model.SelectedUser = user;
    
        <tr>

            <td>@Html.DisplayFor(model => user.Username)</td>

            @foreach (var item in Model.Events) {
            
                <td>@Html.DisplayFor(modelItem => Model[item])</td>
                
            }

        </tr>
        
    }

</table>
