<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <add name="DatabaseContext" connectionString="Server = (localdb)\MSSQLLocalDB; Database = VolleyRain; Trusted_Connection = True;  MultipleActiveResultSets = True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MvcMailer.BaseURL" value="" />
    <add key="VolleyRain.DocumentsBaseUrl" value="~/App_Data/Documents" />
  </appSettings>
  <system.web>
    <globalization culture="de-CH" uiCulture="de-CH" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="10240" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" defaultUrl="~/" timeout="43200" />
    </authentication>
    <sessionState timeout="60" />
    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <clear />
        <add name="CustomMembershipProvider" type="VolleyRain.Security.CustomMembershipProvider" cacheTimeoutInMinutes="30" />
      </providers>
    </membership>
    <roleManager defaultProvider="CustomRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="CustomRoleProvider" type="VolleyRain.Security.CustomRoleProvider" cacheTimeoutInMinutes="30" />
      </providers>
    </roleManager>
    <customErrors mode="Off" />
    <!-- required for example to ensure that authentication tickets survive app restart (when the hosts machine key is generated random) -->
    <machineKey validation="SHA1" validationKey="7623C63158A2FDEED8DECFA2A5E10C7E1892CFAD78CDE7731C2B03EF86DE8077842169AACA92206A82D4AD72061FC85BB127699D98FB7350D36325B881F78BE0" decryption="AES" decryptionKey="ABBB259D9538EEE0906768AB314B2F1BDDA37F2C7D7E7FC1872BD2C66D0CD6DF" />
  </system.web>
  <entityFramework>
    <contexts>
      <context type="VolleyRain.DataAccess.DatabaseContext, VolleyRain">
        <databaseInitializer type="VolleyRain.DataAccess.DatabaseInitializer, VolleyRain" />
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SwissVolleyBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://myvolley.volleyball.ch/svserver.php" binding="basicHttpBinding" bindingConfiguration="SwissVolleyBinding" contract="SwissVolley.SwissVolleyPortType" name="SwissVolleyPort" />
    </client>
  </system.serviceModel>
  <nlog>
    <extensions>
      <add assembly="NLog.Extended" />
    </extensions>
    <targets>
      <target type="AspNetBufferingWrapper" name="BufferedDatabaseTarget">
        <target type="Database" name="DatabaseTarget" connectionStringName="DatabaseContext">
          <commandText>
            INSERT INTO [Log] ([TimeStamp], [Application], [Level], [Logger], [Message], [SessionID], [UserIdentity], [ThreadID], [Exception])
            VALUES (@TimeStamp, @Application, @Level, @Logger, @Message, @SessionID, @UserIdentity, @ThreadID, @Exception)
            DELETE FROM [Log] WHERE [TimeStamp] &lt; DATEADD(day, -30, GETDATE())
          </commandText>
          <parameter name="@TimeStamp" layout="${date}" />
          <parameter name="@Application" layout="VolleyRain" />
          <parameter name="@Level" layout="${level}" />
          <parameter name="@Logger" layout="${logger}" />
          <parameter name="@Message" layout="${message}" />
          <parameter name="@ThreadID" layout="${threadid}" />
          <parameter name="@SessionID" layout="${aspnet-sessionid}" />
          <parameter name="@UserIdentity" layout="${aspnet-user-identity}" />
          <parameter name="@Exception" layout="${exception:format=ToString}" />
        </target>
      </target>
    </targets>
    <rules>
      <logger name="*" minLevel="Debug" appendTo="DatabaseTarget" />
    </rules>
  </nlog>
  <system.net>
    <mailSettings>
      <smtp from="removed">
        <network enableSsl="true" host="removed" port="587" userName="removed" password="removed" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>