@font-face {
  font-family: 'ubuntu';
  src: url("/Content/fonts/ubuntu/ubuntu-r-webfont.eot");
  src: url("/Content/fonts/ubuntu/ubuntu-r-webfont.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/ubuntu/ubuntu-r-webfont.woff") format("woff"), url("/Content/fonts/ubuntu/ubuntu-r-webfont.ttf") format("truetype"), url("/Content/fonts/ubuntu/ubuntu-r-webfont.svg#ubunturegular") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu';
  src: url("/Content/fonts/ubuntu/ubuntu-b-webfont.eot");
  src: url("/Content/fonts/ubuntu/ubuntu-b-webfont.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/ubuntu/ubuntu-b-webfont.woff") format("woff"), url("/Content/fonts/ubuntu/ubuntu-b-webfont.ttf") format("truetype"), url("/Content/fonts/ubuntu/ubuntu-b-webfont.svg#ubuntubold") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu';
  src: url("/Content/fonts/ubuntu/ubuntu-ri-webfont.eot");
  src: url("/Content/fonts/ubuntu/ubuntu-ri-webfont.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/ubuntu/ubuntu-ri-webfont.woff") format("woff"), url("/Content/fonts/ubuntu/ubuntu-ri-webfont.ttf") format("truetype"), url("/Content/fonts/ubuntu/ubuntu-ri-webfont.svg#ubuntuitalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'ubuntu';
  src: url("/Content/fonts/ubuntu/ubuntu-bi-webfont.eot");
  src: url("/Content/fonts/ubuntu/ubuntu-bi-webfont.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/ubuntu/ubuntu-bi-webfont.woff") format("woff"), url("/Content/fonts/ubuntu/ubuntu-bi-webfont.ttf") format("truetype"), url("/Content/fonts/ubuntu/ubuntu-bi-webfont.svg#ubuntubold_italic") format("svg");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: 'ubuntumedium_italic';
  src: url("/Content/fonts/ubuntu/ubuntu-mi-webfont.eot");
  src: url("/Content/fonts/ubuntu/ubuntu-mi-webfont.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/ubuntu/ubuntu-mi-webfont.woff") format("woff"), url("/Content/fonts/ubuntu/ubuntu-mi-webfont.ttf") format("truetype"), url("/Content/fonts/ubuntu/ubuntu-mi-webfont.svg#ubuntumedium_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntulight_italic';
  src: url("/Content/fonts/ubuntu/ubuntu-li-webfont.eot");
  src: url("/Content/fonts/ubuntu/ubuntu-li-webfont.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/ubuntu/ubuntu-li-webfont.woff") format("woff"), url("/Content/fonts/ubuntu/ubuntu-li-webfont.ttf") format("truetype"), url("/Content/fonts/ubuntu/ubuntu-li-webfont.svg#ubuntulight_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntumedium';
  src: url("/Content/fonts/ubuntu/ubuntu-m-webfont.eot");
  src: url("/Content/fonts/ubuntu/ubuntu-m-webfont.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/ubuntu/ubuntu-m-webfont.woff") format("woff"), url("/Content/fonts/ubuntu/ubuntu-m-webfont.ttf") format("truetype"), url("/Content/fonts/ubuntu/ubuntu-m-webfont.svg#ubuntumedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu_condensedregular';
  src: url("/Content/fonts/ubuntu/ubuntu-c-webfont.eot");
  src: url("/Content/fonts/ubuntu/ubuntu-c-webfont.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/ubuntu/ubuntu-c-webfont.woff") format("woff"), url("/Content/fonts/ubuntu/ubuntu-c-webfont.ttf") format("truetype"), url("/Content/fonts/ubuntu/ubuntu-c-webfont.svg#ubuntu_condensedregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntulight';
  src: url("/Content/fonts/ubuntu/ubuntu-l-webfont.eot");
  src: url("/Content/fonts/ubuntu/ubuntu-l-webfont.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/ubuntu/ubuntu-l-webfont.woff") format("woff"), url("/Content/fonts/ubuntu/ubuntu-l-webfont.ttf") format("truetype"), url("/Content/fonts/ubuntu/ubuntu-l-webfont.svg#ubuntulight") format("svg");
  font-weight: normal;
  font-style: normal; }

