#table-attendances {
  margin-left: 0;
  margin-right: auto;
  font-size: small; }

#table-attendances > thead > tr > th:first-child,
#table-attendances > tbody > tr > td:first-child,
#table-attendances > tfoot > tr > th:first-child {
  width: 100px; }

#table-attendances > thead > tr > th:last-child,
#table-attendances > tbody > tr > td:last-child,
#table-attendances > tfoot > tr > th:last-child {
  width: 0px;
  text-align: right; }

#table-attendances.contains-10,
#table-attendances.contains-9,
#table-attendances.contains-8,
#table-attendances.contains-7,
#table-attendances.contains-6,
#table-attendances.contains-5 {
  max-width: 768px; }

#table-attendances.contains-4 {
  max-width: 634.4px; }

#table-attendances.contains-3 {
  max-width: 500.8px; }

#table-attendances.contains-2 {
  max-width: 367.2px; }

#table-attendances.contains-1 {
  max-width: 233.6px; }

@media (min-width: 768px) {
  #table-attendances > thead > tr > th:first-child,
  #table-attendances > tbody > tr > td:first-child,
  #table-attendances > tfoot > tr > th:first-child {
    width: 150px; }

  #table-attendances > thead > tr > th:last-child,
  #table-attendances > tbody > tr > td:last-child,
  #table-attendances > tfoot > tr > th:last-child {
    width: 100px; }

  #table-attendances.contains-10 {
    max-width: 1200px; }

  #table-attendances.contains-9 {
    max-width: 1105px; }

  #table-attendances.contains-8 {
    max-width: 1010px; }

  #table-attendances.contains-7 {
    max-width: 915px; }

  #table-attendances.contains-6 {
    max-width: 820px; }

  #table-attendances.contains-5 {
    max-width: 725px; }

  #table-attendances.contains-4 {
    max-width: 630px; }

  #table-attendances.contains-3 {
    max-width: 535px; }

  #table-attendances.contains-2 {
    max-width: 440px; }

  #table-attendances.contains-1 {
    max-width: 345px; } }
@media (max-width: 767px) {
  #table-attendances > thead > tr > th.event-5,
  #table-attendances > tbody > tr > td.event-5,
  #table-attendances > tfoot > tr > th.event-5,
  #table-attendances > thead > tr > th.event-6,
  #table-attendances > tbody > tr > td.event-6,
  #table-attendances > tfoot > tr > th.event-6,
  #table-attendances > thead > tr > th.event-7,
  #table-attendances > tbody > tr > td.event-7,
  #table-attendances > tfoot > tr > th.event-7,
  #table-attendances > thead > tr > th.event-8,
  #table-attendances > tbody > tr > td.event-8,
  #table-attendances > tfoot > tr > th.event-8,
  #table-attendances > thead > tr > th.event-9,
  #table-attendances > tbody > tr > td.event-9,
  #table-attendances > tfoot > tr > th.event-9,
  #table-attendances > thead > tr > th:last-child,
  #table-attendances > tbody > tr > td:last-child,
  #table-attendances > tfoot > tr > th:last-child {
    display: none !important; } }

